<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRACTICAS DE FORMULARIOS</title>
</head>
<body>
    <form method="post" action="/submit">
        <div>
            <label for="name_and_lastname">NOMBRE Y APELLIDOS</label>
            <input name="name_and_lastname" type="text"/>
        </div>
        <div>
            <label for="birthday"></label>
            <input name="birthday" type="date"/>
        </div>
        <div>
            <label for=""></label>
            <input name="" type="color"/>
        </div>
        <div>
            <label for=""></label>
            <input type="email"/>
        </div>
        <div>
            <label for=""></label>
            <input type="file"/>
        </div>
        <div>
            <label for=""></label>
            <input type="image"/>
        </div>
        <div>
            <label for=""></label>
            <input type="month"/>
        </div>
        <div>
            <label for=""></label>
            <input type="number"/>
        </div>
        <div>
            <label for=""></label>
            <input type="password"/>
        </div>
        <div>
            <label for=""></label>
            <input type="radio"/>
        </div>
        <div>
            <label for=""></label>
            <input type="range"/>
        </div>
        <div>
            <label for=""></label>
            <input type="reset"/>
        </div>
        <div>
            <label for=""></label>
            <input type="search"/>
        </div>
        <div>
            <label for=""></label>
            <input type="tel"/>
        </div>
        <div>
            <label for=""></label>
            <input type="time"/>
        </div>
        <div>
            <label for=""></label>
            <input type="url"/>
        </div>
        <div>
            <label for=""></label>
            <input type="week"/>
        </div>
    </form>
</body>
</html>